<ion-header>
  <ion-toolbar>
    <ion-title>bloc-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="false">
  <h2>Loose in the Sky!</h2>
  <figure>
    <img src="https://picsum.photos/2020/1024" alt="">
    <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore numquam ex nostrum saepe velit. Sequi adipisci qui, corrupti placeat, repellat fugit nostrum nulla aperiam temporibus at voluptas perspiciatis, excepturi eius!</figcaption>
  </figure>
  
  <div id="appComments">
  <app-comment-page></app-comment-page>
  </div>
  
</ion-content>
