<ion-header>
  <ion-toolbar>
    <ion-title>album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="first">
    <figure>
      <img src="https://picsum.photos/1020/1024">
      <figcaption>Fig.1 - Random Picture.</figcaption>
    </figure>
    
    <figure>
      <img src="https://picsum.photos/1021/1024">
      <figcaption>Fig.2 - Random Picture.</figcaption>
    </figure>
    </div>
    <div id="second">
    <figure>
      <img src="https://picsum.photos/2024/1024"  >
      <figcaption>Fig.3 - Random Picture.</figcaption>
    </figure>
    </div>
</ion-content>
