<ion-header>
  <ion-toolbar>
    <ion-title>comment-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 id="comments">Comments:</h2>

  <label for=""><b>Katy</b> 25/04/2019 15:26</label>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt totam rerum quae atque delectus! Recusandae quo ad, inventore delectus totam fuga voluptates in deserunt sint ipsam unde officia id. Dolor.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas ea nihil voluptate reiciendis! Voluptatem quisquam dignissimos exercitationem harum, aliquid odit quod hic repellendus velit dolor, eveniet, sunt ullam quos a.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error iusto eius ipsum porro. Pariatur accusantium quidem quos error dicta aliquid, ea porro atque nobis, mollitia delectus iure obcaecati impedit sit?
  </p>
  
  <label for=""><b>Salomon</b> 25/04/2019 17:26</label>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt totam rerum quae atque delectus! Recusandae quo ad, inventore delectus totam fuga voluptates in deserunt sint ipsam unde officia id. Dolor.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas ea nihil voluptate reiciendis! Voluptatem quisquam dignissimos exercitationem harum, aliquid odit quod hic repellendus velit dolor, eveniet, sunt ullam quos a.
  </p>
  
  <label for=""><b>Bondary</b> 26/04/2019 16:26</label>
  <p>sdfdgdskal</p>
  <div id="comment">
  
  <form action="">
    <h2 id="comments">Add your comment</h2>
    <label for="">Name:</label>
    <br>
    <input type="text">
    <br>
    <label for="">Description:</label>
    <br>
    <textarea name="" id="" cols="50" rows="10"></textarea>
    <button>Submit</button>
  </form>
  </div>
  
</ion-content>
